<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>HealthCare</title>

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  <link rel="stylesheet" type="text/css" href="../static//css/bootstrap.css" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
</head>


<body class="all">
  <div >

  
  <link rel="stylesheet" type="text/css" href="../static//css/bootstrap.css" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />

  <link rel="stylesheet" type="text/css" href="../static/css/responsive.css" />
</head>

<body>
  <div class="hero_area">
    <!-- header section starts -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <div class="title">HEALTHCARE</div>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html"> About</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <section class="slider_section1">
      <div class="form_with">

      
  <div class="abc">
    <h2 class="inffo_enter">Enter Information</h2>
  </div>
  <form action="/you_submit" method="post" class="form_box">
    <label for="address">Enter Address:</label>
    <input type="text" id="address" name="address" required />

    <label for="speciality">Select Speciality:</label>
    <select id="speciality" name="speciality">
      <option value="anatomie pathologique">Anatomie Pathologique</option>
      <option value="anesthesie reanimation">Anesthesie Reanimation</option>
      <option value="cardiologue">Cardiologue</option>
      <option value="chirurgie">Chirurgie</option>
      <option value="chirurgie dentaire">Chirurgie Dentaire</option>
      <option value="chirurgie orthopedique">Chirurgie Orthopedique</option>
      <option value="chirurgie plastique">Chirurgie Plastique</option>
      <option value="dermatologie et venereologie">Dermatologie Et Venereologie</option>
      <option value="dermatologie pediatrique">Dermatologie Pediatrique</option>
      <option value="diabetologie">Diabetologie</option>
      <option value="endocrinologie">Endocrinologie</option>
      <option value="gastroenterologie">Gastroenterologie</option>
      <option value="generale anesthesie - reanimation">Generale Anesthesie - Reanimation</option>
      <option value="gynecologie">Gynecologie</option>
      <option value="hepatologie">Hepatologie</option>
      <option value="hemobiologie et centre de transfusion sanguine">Hemobiologie Et Centre De Transfusion Sanguine</option>
      <option value="histologue">Histologue</option>
      <option value="immunologie">Immunologie</option>
      <option value="maladies infectieuses">Maladies Infectieuses</option>
      <option value="medecine interne">Medecine Interne</option>
      <option value="medecine legale">Medecine Legale</option>
      <option value="medecine nucleaire">Medecine Nucleaire</option>
      <option value="medecine physique et reeducation fonctionnelle">Medecine Physique Et Reeducation Fonctionnelle</option>
      <option value="microbiologue">Microbiologue</option>
      <option value="neonatalogie">Neonatalogie</option>
      <option value="nephrologue">Nephrologue</option>
      <option value="neuro-chirurgue">Neuro-Chirurgue</option>
      <option value="neurologie">Neurologie</option>
      <option value="neurologue">Neurologue</option>
      <option value="neurochirurgie">Neurochirurgie</option>
      <option value="neurophysiologue">Neurophysiologue</option>
      <option value="oncologie chirurgicale">Oncologie Chirurgicale</option>
      <option value="oncologie medicale">Oncologie Medicale</option>
      <option value="oncologie radiologique">Oncologie Radiologique</option>
      <option value="ophtalmologie">Ophtalmologie</option>
      <option value="orthopedie -a-">Orthopedie -A-</option>
      <option value="orthopedie -b-">Orthopedie -B-</option>
      <option value="orthopedie traumatologie">Orthopedie Traumatologie</option>
      <option value="parasitologie et mycologie">Parasitologie Et Mycologie</option>
      <option value="parasitologue">Parasitologue</option>
      <option value="parodontologie">Parodontologie</option>
      <option value="pathologie et chirurgie buccale">Pathologie Et Chirurgie Buccale</option>
      <option value="pediatrie">Pediatrie</option>
      <option value="physiologue">Physiologue</option>
      <option value="pneumo-allergologue">Pneumo-Allergologue</option>
      <option value="pneumo-phtisiologue">Pneumo-Phtisiologue</option>
      <option value="pneumologie">Pneumologie</option>
      <option value="psychiatrie">Psychiatrie</option>
      <option value="radiologue">Radiologue</option>
      <option value="reanimation">Reanimation</option>
      <option value="reanimation medicale">Reanimation Medicale</option>
      <option value="reeducation et readaptation fonctionnelle">Reeducation Et Readaptation Fonctionnelle</option>
      <option value="reeducation fonctionnelle">Reeducation Fonctionnelle</option>
      <option value="rhumatologie">Rhumatologie</option>
      <option value="service des urgences">Service Des Urgences</option>
      <option value="service neurologie">Service Neurologie</option>
      <option value="soins de soutien">Soins De Soutien</option>
      <option value="soins hospitaliers">Soins Hospitaliers</option>
      <option value="services d'urgence">Services D'Urgence</option>
      <option value="urgences">Urgences</option>
      <option value="urgences medico-chirurgicales">Urgences Medico-Chirurgicales</option>
      <option value="urgences radiologue">Urgences Radiologue</option>
    </select>

    <label for="searchType">Select Search Type:</label><br />
    <input type="radio" id="hillClimbing" name="searchType" value="hillClimbing" required />
    <label for="hillClimbing">Hill Climbing</label><br />
    <input type="radio" id="bfs" name="searchType" value="bfs" />
    <label for="bfs">Breadth-First Search (BFS)</label><br />
    <input type="radio" id="aStar" name="searchType" value="aStar" />
    <label for="aStar">A* Search</label><br />
    <input type="radio" id="ucs" name="searchType" value="ucs" />
    <label for="ucs">Uniform Cost Search (UCS)</label><br />

    <input type="submit" value="Submit" class="submit" />
  </form>
  </div>
</section>


</div>
</body>
</html>
